:host([hidden]) { display: none !important; }
:host {
    display: block;
    position: fixed;
    z-index: 100;
    top: 1em;
    left: 1em;
    /*
    width: 100vw;
    */

}

a {
    color: var(--color-positive);
}

.primary {
    display: flex;
    gap: 2em;
    padding: 1em;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
}

.title {
    text-decoration: none;
    font-weight: 500;
    display: flex;
    gap: .75em;
    align-items: center;
}

.title span {
    width: 20ch;
    display: inline-block;
    font-size: 12px;
}

.primary-links {
    display: flex;
    gap: .75em;
    align-items: center;
}

.primary-links a {
    display: flex;
    height: 1.5rem;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
    text-decoration: none;
}

.primary-links a.active {
    background: var(--color-positive);
    color: var(--color-negative);
}
