:root {
    --space-100: 1em;
    --space-200: 2em;
    --space-300: 3em;
}


@font-face {
    font-family: "Lilex";
    src: url("fonts/Lilex[wght].ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}



body {
  margin: 0;
  text-rendering: geometricprecision;
  -webkit-font-smoothing: antialiased;
  font-family: "Lilex";
  background: var(--color-negative);
  color: #cbcbcb;
}

a {
    color: var(--color-positive);
}

.content {
    /*width: 65ch;*/
    margin: 0 auto;
    /*padding: 0 30px;*/
}

ds-prop-table {
    margin: var(--space-200) 0;
    font-size: 12px;
}


ds-def-section {
    /*padding: 4em 0;*/
}




.dot-grid {
  background-color: var(--color-negative);
  background-image: radial-gradient(circle, var(--color-positive) 1px, transparent 1px), radial-gradient(circle, var(--color-positive) 1px, transparent 1px);
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
}

.wide {
    width: 90vw;
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
}
